body {
    background-color: rgba(21, 247, 0, 0.788);
  }
  h1 {
    color: blue;
  }
  h1.putin-no {
    color: red;
  }

  h1.slava {
    color: #005bbc;
  }
  h1.ukrajini {
    color: #ffd600;
  }
